.container {
  width: 80%;
  height: 800px;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.infoContainer {
  width: 80%;
  font-size: 30px;
  color: #000;
  padding: 50px;
  margin-left: 25px;
  height: 500px;
  border-radius: 5px;
  background-color: #ffffff;
  /* box-shadow:  0 0 60px 30px #ffffff7b, 0 0 100px 60px rgba(0, 255, 88, 0.15), 0 0 140px 90px rgba(0, 255, 124, 0.41) */
  box-shadow: 0 0 60px 30px #ffffff7b, 0 0 100px 60px rgba(0, 255, 251, 0.435),
    0 0 140px 90px rgba(0, 255, 132, 0.407);
  /* inner white */ /* middle magenta */
}
.navigateIcon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
}
.navigateText {
  font-size: 6px;
}
