.arrow {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: none;
}
.btn:hover .arrow {
  display: block;
}
.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.link {
  font-size: 40px;
  color: black;
  margin: 10px 0;
}
.linkText {
  -webkit-text-stroke: 1px black;
}
