.snakeBodyTile {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.snakeBodyTile svg {
  color: rgb(0, 0, 27);
  height: 40px;
  width: 40px;
}
