.homeContainer {
  background-color: #181818;
  height: 100%;
  width: 100%;
  color: #fff;
}
.menuBox {
  width: 300px;
  height: 500px;
  border: 1px solid white;
}
.aws-btn {
  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #49536f;
  --button-primary-color-dark: #2b3041;
  --button-primary-color-light: #d4d8e3;
  --button-primary-color-hover: #444d67;
  --button-primary-color-active: #3d455d;
  --button-primary-border: 2px solid #2b3041;
  --button-secondary-color: #fefc81;
  --button-secondary-color-dark: #cbc802;
  --button-secondary-color-light: #7f7d01;
  --button-secondary-color-hover: #fefb53;
  --button-secondary-color-active: #fdfa1c;
  --button-secondary-border: 2px solid #cbc802;
  --button-anchor-color: #eccab1;
  --button-anchor-color-dark: #6d4b29;
  --button-anchor-color-light: #48321b;
  --button-anchor-color-hover: #e9c2a5;
  --button-anchor-color-active: #e4b490;
  --button-anchor-border: 2px solid #6d4b29;
  --button-danger-color: #3db64b;
  --button-danger-color-dark: #d2e054;
  --button-danger-color-light: #ffffff;
  --button-danger-color-hover: #3aae48;
  --button-danger-color-active: #37a343;
  --button-danger-border: 2px solid #d2e054;
}
