.homeContainer {
  background: url("../assets/background-calm.gif");
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #fff;
}
.titleCard {
  color: black;
  font-size: 150px;
}
.menu {
  font-size: 80px;
}
.buttonContainer {
  margin-top: 50px;
}