.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.disInFlex {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  max-width: 100%;
}
.flexwrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexcolumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flexrow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flexrowreverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.flexcolumnreverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.flexgrow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}
.flexshrink {
  flex-shrink: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
}
.flexbasis {
  flex-basis: 0%;
  -webkit-flex-basis: 0%;
  -moz-flex-basis: 0%;
  -ms-flex-basis: 0%;
}
.alignVertical {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.alignFstart {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.alignFend {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.alignHorizontal {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.alignBetween {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.alignBoth {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.alignBase {
  align-items: baseline;
}
.alignFendHori {
  justify-content: flex-end;
}
.cover {
  height: 100%;
  width: 100%;
}
