.snakeContainer {
  background-color: #1a1a1a;
  color: white;
  position: relative;
}
.tongue {
  height: 50px;
  width: 60px;
}
.container {
  height: 3200px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.snakeHead1 {
  background-color: #fff;
  height: 60px;
  width: 100px;
  position: absolute;
  border-radius: 5px;
}
