div.window_container {
  position: absolute;
  /* border: solid 1px black; */
  --tilebar-height: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

div.window_container > div.title_bar {
  background-color: #1c1c1c;
  height: var(--tilebar-height);
  display: flex;
  flex-direction: row;
  cursor: default;
  position: static;
  padding: 2px 5px;
  cursor: pointer;
}

div.window_container > div.title_bar > span.icon {
  line-height: var(--tilebar-height);
  height: var(--tilebar-height);
  width: var(--tilebar-height);
  font-size: calc(var(--tilebar-height) - 8px);
}

div.window_container > div.title_bar > span.windowTitle {
  flex-grow: 1;
  overflow: hidden;
  text-align: center;
  background-color: #1c1c1c;
  color: white;
  font-size: calc(var(--tilebar-height) - 16px);
  line-height: var(--tilebar-height);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

div.window_container > div.title_bar > span.windowTitle:active {
  opacity: 0.5;
}

div.window_container > div.title_bar > span.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.window_container
  > div.title_bar
  > span.buttonContainer
  > span.windowButton {
  height: calc(var(--tilebar-height) - 7px);
  width: var(--tilebar-height);
  font-size: calc(var(--tilebar-height) - 8px);
  cursor: default;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

div.window_container
  > div.title_bar
  > span.buttonContainer
  > span.windowButton:hover {
  color: rgb(148, 148, 148);
}

div.window_container > div.content {
  all: initial;
  background-color: white;
  overflow: scroll;
}
